In [54]:
### this code takes data which was not averaged 
## over each run/repetition of block,
## so rep can be added into the LME

## updated on 4th march to add the covariates of interest

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Pupil Diameter
data2load = pd.read_csv('/Users/dhewitt/Data/pps/Exports/PupilDiameter/Combined_PupilDiameter_noav_1904.csv')

## Gaze Direction
#data2load = pd.read_csv('/Users/dhewitt/Data/pps/Exports/GazeDirection/Combined_GazeDirection_noav_1904.csv')

## Gaze Object / Fixation
#data2load = pd.read_csv('/Users/dhewitt/Data/pps/Exports/GazeObject/Combined_GazeObjectData_noav_1904.csv')

## Hand position
#data2load = pd.read_csv('/Users/dhewitt/Data/pps/Exports/HandData/Combined_hand_data_1904.csv') ## doesn't work

In [55]:
df = pd.DataFrame(data2load)
#df = pd.DataFrame(data2load).drop(['Timepoint','ID'], axis=1)
df=df.rename(columns={'Unnamed: 0':'Timepoint', 'Participant':'ID'})
df.head()

,Timepoint,CM1,CL1,CR1,EM1,EL1,ER1,CM2,CL2,CR2,EM2,EL2,ER2,ID
0,0,0.019631,-0.000302,-0.002017,0.023907,-0.026451,-0.014968,-0.055221,0.017097,0.014433,-0.004583,-0.016461,-0.006779,2
1,1,0.019654,-0.000275,-0.001955,0.023936,-0.026469,-0.015040,-0.055284,0.017177,0.014327,-0.004537,-0.016444,-0.006849,2
2,2,0.019677,-0.000248,-0.001894,0.024012,-0.026486,-0.015111,-0.055346,0.017257,0.014240,-0.004569,-0.016427,-0.006918,2
3,3,0.019699,-0.000221,-0.001814,0.024080,-0.026504,-0.015183,-0.055409,0.017345,0.014154,-0.004601,-0.016410,-0.007005,2
4,4,0.019722,-0.000199,-0.001723,0.024148,-0.026521,-0.015252,-0.055472,0.017433,0.014068,-0.004633,-0.016393,-0.007093,2

In [56]:
conditions = [
    (df['Timepoint'] >= 0) & (df['Timepoint'] < 800),
    (df['Timepoint'] >= 800) & (df['Timepoint'] < 1800),
    (df['Timepoint'] >= 1800) & (df['Timepoint'] < 2800),
    (df['Timepoint'] >= 2800) & (df['Timepoint'] < 3300)
]
values = [1, 2, 3, 4]  # Corresponding values for each condition

# Create the 'phase' column based on conditions and values
df['Phase'] = np.select(conditions, values, default=9)  # Use default value for unmatched conditions

# Display the updated DataFrame
df

,Timepoint,CM1,CL1,CR1,EM1,EL1,ER1,CM2,CL2,CR2,EM2,EL2,ER2,ID,Phase
0,0,0.019631,-0.000302,-0.002017,0.023907,-0.026451,-0.014968,-0.055221,0.017097,0.014433,-0.004583,-0.016461,-0.006779,2,1
1,1,0.019654,-0.000275,-0.001955,0.023936,-0.026469,-0.015040,-0.055284,0.017177,0.014327,-0.004537,-0.016444,-0.006849,2,1
2,2,0.019677,-0.000248,-0.001894,0.024012,-0.026486,-0.015111,-0.055346,0.017257,0.014240,-0.004569,-0.016427,-0.006918,2,1
3,3,0.019699,-0.000221,-0.001814,0.024080,-0.026504,-0.015183,-0.055409,0.017345,0.014154,-0.004601,-0.016410,-0.007005,2,1
4,4,0.019722,-0.000199,-0.001723,0.024148,-0.026521,-0.015252,-0.055472,0.017433,0.014068,-0.004633,-0.016393,-0.007093,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85795,3295,0.061348,0.133111,0.182574,-0.188672,-0.090320,0.096873,-0.048597,0.031675,0.191436,-0.039476,0.003347,-0.028947,30,4
85796,3296,0.061348,0.133111,0.182574,-0.188698,-0.090320,0.096903,-0.048597,0.031675,0.191457,-0.039518,0.003347,-0.028947,30,4
85797,3297,0.061348,0.133111,0.182574,-0.188723,-0.090320,0.096932,-0.048597,0.031675,0.191457,-0.039560,0.003347,-0.028947,30,4
85798,3298,0.061348,0.133111,0.182574,-0.188749,-0.090320,0.096961,-0.048597,0.031675,0.191457,-0.039603,0.003347,-0.028947,30,4
85799,3299,0.061348,0.133111,0.182574,-0.188749,-0.090320,0.096969,-0.048597,0.031675,0.191457,-0.039603,0.003347,-0.028947,30,4

In [57]:
list(df.columns)
df

,Timepoint,CM1,CL1,CR1,EM1,EL1,ER1,CM2,CL2,CR2,EM2,EL2,ER2,ID,Phase
0,0,0.019631,-0.000302,-0.002017,0.023907,-0.026451,-0.014968,-0.055221,0.017097,0.014433,-0.004583,-0.016461,-0.006779,2,1
1,1,0.019654,-0.000275,-0.001955,0.023936,-0.026469,-0.015040,-0.055284,0.017177,0.014327,-0.004537,-0.016444,-0.006849,2,1
2,2,0.019677,-0.000248,-0.001894,0.024012,-0.026486,-0.015111,-0.055346,0.017257,0.014240,-0.004569,-0.016427,-0.006918,2,1
3,3,0.019699,-0.000221,-0.001814,0.024080,-0.026504,-0.015183,-0.055409,0.017345,0.014154,-0.004601,-0.016410,-0.007005,2,1
4,4,0.019722,-0.000199,-0.001723,0.024148,-0.026521,-0.015252,-0.055472,0.017433,0.014068,-0.004633,-0.016393,-0.007093,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85795,3295,0.061348,0.133111,0.182574,-0.188672,-0.090320,0.096873,-0.048597,0.031675,0.191436,-0.039476,0.003347,-0.028947,30,4
85796,3296,0.061348,0.133111,0.182574,-0.188698,-0.090320,0.096903,-0.048597,0.031675,0.191457,-0.039518,0.003347,-0.028947,30,4
85797,3297,0.061348,0.133111,0.182574,-0.188723,-0.090320,0.096932,-0.048597,0.031675,0.191457,-0.039560,0.003347,-0.028947,30,4
85798,3298,0.061348,0.133111,0.182574,-0.188749,-0.090320,0.096961,-0.048597,0.031675,0.191457,-0.039603,0.003347,-0.028947,30,4
85799,3299,0.061348,0.133111,0.182574,-0.188749,-0.090320,0.096969,-0.048597,0.031675,0.191457,-0.039603,0.003347,-0.028947,30,4

In [58]:
melted_df = pd.melt(df, id_vars = ['Timepoint','Phase','ID'], value_vars=['CM1', 'CL1', 'CR1', 'EM1', 'EL1', 'ER1', 'CM2', 'CL2', 'CR2', 'EM2', 'EL2', 'ER2'])
melted_df[['Condition', 'Side', 'Rep']] = melted_df['variable'].str.extract(r'([CEMLR])([CEMLR])([12])')
melted_df = melted_df.drop(columns=['variable'])
melted_df.rename({'value':'Measure'}, axis=1, inplace=True)
melted_df

         Timepoint  Phase  ID   Measure Condition Side Rep
0                0      1   2  0.019631         C    M   1
1                1      1   2  0.019654         C    M   1
2                2      1   2  0.019677         C    M   1
3                3      1   2  0.019699         C    M   1
4                4      1   2  0.019722         C    M   1
...            ...    ...  ..       ...       ...  ...  ..
1029595       3295      4  30 -0.028947         E    R   2
1029596       3296      4  30 -0.028947         E    R   2
1029597       3297      4  30 -0.028947         E    R   2
1029598       3298      4  30 -0.028947         E    R   2
1029599       3299      4  30 -0.028947         E    R   2

[1029600 rows x 7 columns]

In [59]:
melted_df = melted_df.reset_index()
melted_df

           index  Timepoint  Phase  ID   Measure Condition Side Rep
0              0          0      1   2  0.019631         C    M   1
1              1          1      1   2  0.019654         C    M   1
2              2          2      1   2  0.019677         C    M   1
3              3          3      1   2  0.019699         C    M   1
4              4          4      1   2  0.019722         C    M   1
...          ...        ...    ...  ..       ...       ...  ...  ..
1029595  1029595       3295      4  30 -0.028947         E    R   2
1029596  1029596       3296      4  30 -0.028947         E    R   2
1029597  1029597       3297      4  30 -0.028947         E    R   2
1029598  1029598       3298      4  30 -0.028947         E    R   2
1029599  1029599       3299      4  30 -0.028947         E    R   2

[1029600 rows x 8 columns]

In [60]:
# Averaging for each phase
average_df = melted_df.groupby(['ID', 'Phase', 'Side', 'Rep', 'Condition']).mean().reset_index()
average_df.drop(['Timepoint','index'],axis=1, inplace=True)
average_df

      ID  Phase Side Rep Condition   Measure
0      2      1    L   1         C -0.023138
1      2      1    L   1         E -0.000397
2      2      1    L   2         C  0.018059
3      2      1    L   2         E -0.004264
4      2      1    M   1         C  0.024834
...   ..    ...  ...  ..       ...       ...
1243  30      4    M   2         E -0.027216
1244  30      4    R   1         C  0.181737
1245  30      4    R   1         E  0.078308
1246  30      4    R   2         C  0.155979
1247  30      4    R   2         E -0.040215

[1248 rows x 6 columns]

In [61]:
melted_df = average_df

data2load = pd.read_csv('/Users/dhewitt/Data/pps/tonicpainsides.csv')
sidesdf = pd.DataFrame(data2load).astype('int32')
melted_df=melted_df.join(sidesdf.set_index('ID'), on='ID')
melted_df.drop(columns=['B2'],inplace = True)
melted_df

      ID  Phase Side Rep Condition   Measure  B1
0      2      1    L   1         C -0.023138   2
1      2      1    L   1         E -0.000397   2
2      2      1    L   2         C  0.018059   2
3      2      1    L   2         E -0.004264   2
4      2      1    M   1         C  0.024834   2
...   ..    ...  ...  ..       ...       ...  ..
1243  30      4    M   2         E -0.027216   2
1244  30      4    R   1         C  0.181737   2
1245  30      4    R   1         E  0.078308   2
1246  30      4    R   2         C  0.155979   2
1247  30      4    R   2         E -0.040215   2

[1248 rows x 7 columns]

In [62]:
# For cong DataFrame
cong_index = ((melted_df['Rep'].astype(int)==1) & (melted_df['B1'].astype(int)==1) & 
              (melted_df['Side']=='L')) | \
             ((melted_df['Rep'].astype(int)==1) & (melted_df['B1'].astype(int)==2) & 
              (melted_df['Side']=='R')) | \
             ((melted_df['Rep'].astype(int)==2) & (melted_df['B1'].astype(int)==1) & 
              (melted_df['Side']=='R')) | \
             ((melted_df['Rep'].astype(int)==2) & (melted_df['B1'].astype(int)==2) & 
              (melted_df['Side']=='L'))
cong = melted_df.loc[cong_index].copy()  # Ensure a copy is made to avoid modifying the original DataFrame
cong['congruency'] = 2

incong_index = ((melted_df['Rep'].astype(int) == 1) & (melted_df['B1'].astype(int) == 1) & 
                (melted_df['Side'] == 'R')) | \
               ((melted_df['Rep'].astype(int) == 1) & (melted_df['B1'].astype(int) == 2) & 
                (melted_df['Side'] == 'L')) | \
               ((melted_df['Rep'].astype(int) == 2) & (melted_df['B1'].astype(int) == 1) & 
                (melted_df['Side'] == 'L')) | \
               ((melted_df['Rep'].astype(int) == 2) & (melted_df['B1'].astype(int) == 2) & 
                (melted_df['Side'] == 'R'))
incong = melted_df.loc[incong_index].copy()  # Ensure a copy is made to avoid modifying the original DataFrame
incong['congruency'] = 1

neutral_index = melted_df['Side'] == 'M'
neutral = melted_df.loc[neutral_index].copy()  # Ensure a copy is made to avoid modifying the original DataFrame
neutral['congruency'] = 0

joineddf=pd.concat([neutral,cong,incong])
joineddf

      ID  Phase Side Rep Condition   Measure  B1  congruency
4      2      1    M   1         C  0.024834   2           0
5      2      1    M   1         E -0.008992   2           0
6      2      1    M   2         C -0.024931   2           0
7      2      1    M   2         E -0.020708   2           0
16     2      2    M   1         C -0.048957   2           0
...   ..    ...  ...  ..       ...       ...  ..         ...
1235  30      3    R   2         E -0.082754   2           1
1236  30      4    L   1         C  0.122456   2           1
1237  30      4    L   1         E -0.046924   2           1
1246  30      4    R   2         C  0.155979   2           1
1247  30      4    R   2         E -0.040215   2           1

[1248 rows x 8 columns]

In [63]:
joineddf=joineddf.replace({'C':'1', 'E':'2','M':'0','L':'1','R':'2'})
joineddf['Side'] = joineddf['Side'].astype('int64')
joineddf['Rep'] = joineddf['Rep'].astype('int64')
joineddf

      ID  Phase  Side  Rep Condition   Measure  B1  congruency
4      2      1     0    1         1  0.024834   2           0
5      2      1     0    1         2 -0.008992   2           0
6      2      1     0    2         1 -0.024931   2           0
7      2      1     0    2         2 -0.020708   2           0
16     2      2     0    1         1 -0.048957   2           0
...   ..    ...   ...  ...       ...       ...  ..         ...
1235  30      3     2    2         2 -0.082754   2           1
1236  30      4     1    1         1  0.122456   2           1
1237  30      4     1    1         2 -0.046924   2           1
1246  30      4     2    2         1  0.155979   2           1
1247  30      4     2    2         2 -0.040215   2           1

[1248 rows x 8 columns]

In [64]:
data2load = pd.read_csv('/Users/dhewitt/Data/pps/Exports/meanTonic.csv')
ratingsdf = pd.DataFrame(data2load)
ratingsdf

,ID,B1,TonicPainSide,Rep,MeanInt,SlopeInt,MeanUn,SlopeUn,STAI_State_Score,STAI_Trait_Score,Sex,Age,Handed,Elec_Lpain,Elec_Lunp,Elec_Rpain,Elec_Runp
0,2,2,2,1,3.90,0.067,4.82,0.121,29,37,2,32,1,4.67,6.00,4.00,5.00
1,3,1,1,1,3.40,-0.339,3.73,-0.455,27,35,1,26,1,3.67,3.67,3.33,3.67
2,4,2,2,1,4.30,-0.503,5.36,-0.491,24,41,2,22,1,5.67,7.33,5.33,7.00
3,5,1,1,1,1.55,-0.167,1.77,0.021,24,25,1,19,1,2.33,2.33,1.67,2.00
4,6,2,2,1,2.10,-0.333,2.27,-0.273,29,40,1,27,3,2.33,2.33,3.00,2.67
5,8,2,2,1,4.60,0.109,4.64,0.236,27,27,2,23,1,3.00,3.00,6.67,6.67
6,9,1,1,1,5.00,0.267,5.00,0.206,29,46,2,28,1,4.33,4.67,4.67,5.00
7,10,2,2,1,5.10,-0.115,5.91,0.067,32,51,1,38,1,5.00,5.67,6.00,6.00
8,11,1,1,1,4.10,-0.103,5.45,0.006,37,34,2,23,1,5.00,5.33,6.33,7.00
9,12,2,2,1,3.90,-0.430,5.00,-0.261,31,36,2,23,1,6.00,6.33,3.67,3.00
10,13,1,1,1,1.70,-0.152,2.09,-0.073,38,41,1,38,1,3.00,4.33,4.00,4.33
11,14,2,2,1,4.44,-0.327,4.90,-0.167,27,21,2,31,1,6.00,7.67,6.33,7.67
12,15,1,1,1,3.80,0.194,6.00,0.200,30,26,1,20,1,4.67,4.67,5.33,5.33
13,16,2,2,1,3.20,-0.291,3.45,-0.133,29,33,1,26,1,3.67,3.00,5.00,4.67
14,17,1,1,1,4.00,0.000,6.00,-0.048,28,47,1,28,1,3.33,4.33,2.00,3.00
15,19,1,1,1,3.00,-0.194,4.55,-0.164,30,28,1,21,1,3.00,3.00,3.00,3.00
16,20,2,2,1,2.00,0.036,3.64,-0.224,25,23,2,24,1,3.00,3.67,3.00,3.67
17,21,1,1,1,2.70,-0.127,3.27,-0.248,27,33,2,24,1,3.67,3.33,4.33,5.67
18,22,2,2,1,5.20,-0.085,5.18,-0.085,34,33,1,29,1,6.00,6.00,3.00,3.00
19,24,2,2,1,3.40,-0.230,3.00,-0.364,24,39,1,27,1,4.67,4.67,4.33,4.00
20,25,1,1,1,4.00,0.012,6.73,0.109,32,33,1,24,1,5.00,5.67,6.00,6.67
21,26,2,2,1,4.10,-0.042,4.91,0.085,34,48,1,20,1,5.33,5.33,6.00,6.67
22,27,1,1,1,4.60,-0.097,4.91,0.067,53,50,2,31,1,6.00,5.33,7.33,7.67
23,28,2,2,1,3.20,0.218,4.27,0.018,29,45,2,27,1,7.00,6.67,5.67,5.67
24,29,1,1,1,2.20,0.048,3.45,0.109,25,43,2,24,2,3.00,3.33,5.00,5.00
25,30,2,2,1,6.30,0.006,6.45,-0.030,41,40,2,28,1,6.00,6.33,7.33,7.67
26,2,2,1,2,4.20,-0.170,5.20,-0.170,29,37,2,32,1,4.33,5.33,3.33,4.33
27,3,1,2,2,2.60,-0.291,3.00,-0.424,27,35,1,26,1,2.00,1.67,2.00,2.00
28,4,2,1,2,4.40,-0.582,4.90,-0.758,24,41,2,22,1,4.67,5.00,4.67,5.00
29,5,1,2,2,2.20,-0.061,2.20,-0.061,24,25,1,19,1,2.00,2.00,2.00,2.00
30,6,2,1,2,2.00,-0.255,1.80,-0.158,29,40,1,27,3,2.33,2.00,2.33,2.33
31,8,2,1,2,3.22,-0.012,3.56,-0.055,27,27,2,23,1,3.67,3.33,6.67,6.67
32,9,1,2,2,4.00,-0.024,4.80,-0.133,29,46,2,28,1,4.67,4.67,5.00,5.00
33,10,2,1,2,5.00,-0.255,5.90,-0.176,32,51,1,38,1,4.67,4.00,5.67,4.00
34,11,1,2,2,5.90,0.067,6.10,0.079,37,34,2,23,1,4.00,4.33,6.67,6.67
35,12,2,1,2,3.40,-0.145,5.20,-0.073,31,36,2,23,1,5.67,6.33,2.33,3.33
36,13,1,2,2,1.70,-0.200,2.20,-0.133,38,41,1,38,1,3.33,3.33,4.00,3.67
37,14,2,1,2,3.30,-0.442,3.60,-0.376,27,21,2,31,1,3.00,5.00,7.33,7.33
38,15,1,2,2,3.70,0.091,6.20,0.182,30,26,1,20,1,4.33,4.33,4.67,4.67
39,16,2,1,2,4.00,-0.255,4.90,-0.236,29,33,1,26,1,2.67,2.00,4.33,3.67
40,17,1,2,2,3.10,-0.055,4.60,-0.073,28,47,1,28,1,3.00,3.00,2.00,2.00
41,19,1,2,2,2.60,-0.194,3.70,-0.127,30,28,1,21,1,3.67,3.00,3.00,3.00
42,20,2,1,2,1.90,-0.261,2.80,-0.339,25,23,2,24,1,3.00,3.33,3.00,3.00
43,21,1,2,2,3.50,-0.018,4.00,-0.121,27,33,2,24,1,3.00,3.33,5.67,6.00
44,22,2,1,2,5.00,0.000,5.10,-0.042,34,33,1,29,1,5.67,5.67,3.33,3.67
45,24,2,1,2,3.40,-0.133,2.30,-0.103,24,39,1,27,1,4.67,4.00,4.33,3.33
46,25,1,2,2,4.20,-0.036,6.60,-0.073,32,33,1,24,1,5.67,5.67,6.00,6.33
47,26,2,1,2,4.22,-0.073,4.89,-0.127,34,48,1,20,1,5.00,5.33,5.33,6.00
48,27,1,2,2,3.80,-0.133,3.90,-0.139,53,50,2,31,1,4.33,4.33,7.33,7.33
49,28,2,1,2,3.00,-0.267,3.80,-0.279,29,45,2,27,1,8.67,7.33,6.67,5.67
50,29,1,2,2,2.10,-0.212,2.60,-0.218,25,43,2,24,2,3.00,2.67,5.00,5.33
51,30,2,1,2,5.40,-0.012,5.40,-0.012,41,40,2,28,1,5.00,5.33,6.33,6.33

In [65]:
result_df = pd.merge(joineddf, ratingsdf, on=['ID', 'B1', 'Rep'])
result_df

,ID,Phase,Side,Rep,Condition,Measure,B1,congruency,TonicPainSide,MeanInt,...,SlopeUn,STAI_State_Score,STAI_Trait_Score,Sex,Age,Handed,Elec_Lpain,Elec_Lunp,Elec_Rpain,Elec_Runp
0,2,1,0,1,1,0.024834,2,0,2,3.9,...,0.121,29,37,2,32,1,4.67,6.00,4.00,5.00
1,2,1,0,1,2,-0.008992,2,0,2,3.9,...,0.121,29,37,2,32,1,4.67,6.00,4.00,5.00
2,2,2,0,1,1,-0.048957,2,0,2,3.9,...,0.121,29,37,2,32,1,4.67,6.00,4.00,5.00
3,2,2,0,1,2,-0.117710,2,0,2,3.9,...,0.121,29,37,2,32,1,4.67,6.00,4.00,5.00
4,2,3,0,1,1,-0.004036,2,0,2,3.9,...,0.121,29,37,2,32,1,4.67,6.00,4.00,5.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1243,30,2,2,2,2,-0.062887,2,1,1,5.4,...,-0.012,41,40,2,28,1,5.00,5.33,6.33,6.33
1244,30,3,2,2,1,0.084070,2,1,1,5.4,...,-0.012,41,40,2,28,1,5.00,5.33,6.33,6.33
1245,30,3,2,2,2,-0.082754,2,1,1,5.4,...,-0.012,41,40,2,28,1,5.00,5.33,6.33,6.33
1246,30,4,2,2,1,0.155979,2,1,1,5.4,...,-0.012,41,40,2,28,1,5.00,5.33,6.33,6.33
1247,30,4,2,2,2,-0.040215,2,1,1,5.4,...,-0.012,41,40,2,28,1,5.00,5.33,6.33,6.33

In [44]:
#phaseoi = [1, 2, 3]
#phase_av_df = average_df[average_df['Phase'].isin(phaseoi)]
#phase_av_df

     ID  Phase Side Rep Condition   Measure
0     2      1    L   1         C  0.058958
1     2      1    L   1         E  0.125667
2     2      1    L   2         C  0.021833
3     2      1    L   2         E  0.097861
4     2      1    M   1         C  0.087167
..   ..    ...  ...  ..       ...       ...
307  30      1    M   2         E  0.111049
308  30      1    R   1         C  0.174458
309  30      1    R   1         E  0.176417
310  30      1    R   2         C  0.328958
311  30      1    R   2         E  0.413742

[312 rows x 6 columns]

In [45]:

######## Change these for the input data

## Pupil Diameter
#result_df.to_csv('/Users/dhewitt/Data/pps/Exports/PupilDiameter/GrandAvExport_PupilDiameterExtLong_Recoded_noav_1904.csv', index=False)
#average_df.to_csv('/Users/dhewitt/Data/pps/Exports/PupilDiameter/GrandAvExport_PupilDiameterExtLong_Recoded_phaseav_1904.csv', index=False)
#phase_av_df.to_csv('/Users/dhewitt/Data/pps/Exports/PupilDiameter/GrandAvExport_PupilDiameterExtLong_Recoded_phaseav_1904.csv', index=False)

## Gaze Direction
#result_df.to_csv('/Users/dhewitt/Data/pps/Exports/GazeDirection/GrandAvExport_GazeDirExtLong_Recoded_noav_1904.csv', index=False)
#average_df.to_csv('/Users/dhewitt/Data/pps/Exports/GazeDirection/GrandAvExport_GazeDirExtLong_Recoded_phaseav_1904.csv', index=False)
#phase_av_df.to_csv('/Users/dhewitt/Data/pps/Exports/GazeDirection/GrandAvExport_GazeDirExtLong_Recoded_phaseav_1904.csv', index=False)

## Gaze Object
#result_df.to_csv('/Users/dhewitt/Data/pps/Exports/GrandAvExport_GazeObjExtLong_Recoded_noav_1904.csv', index=False)
#average_df.to_csv('/Users/dhewitt/Data/pps/Exports/GrandAvExport_GazeObjExtLong_Recoded_phaseav_1904.csv', index=False)

## Hand position
result_df.to_csv('/Users/dhewitt/Data/pps/Exports/GrandAvExport_HandPosExtLong_Recoded_noav_1904.csv', index=False)
average_df.to_csv('/Users/dhewitt/Data/pps/Exports/GrandAvExport_HandPosExtLong_Recoded_phaseav_1904.csv', index=False)